.movie-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 50vw;
  margin: 20px auto;
}

.movie-container .form-input p {
  margin-bottom: 0px;
  font-size: 12px;
}

.movie-container .btn-function {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

@media (max-width: 620px) {
  .movie-container .title {
    font-size: 22px;
  }

  .movie-container .btn-function {
    display: grid;
  }
}